{% extends 'base.html' %}
{% block content %}
{% for room in rooms %}
<div class="container">
<div class="card mb-3">
    <img src="{{room.img}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{room.number}}</h5>
        <p class="card-text">{{room.description}}</p>
        <p class="card-text"><small class="text-body-secondary"><a href="{% url 'room-details' room.id%}">View</a>
        {% if not room.is_booked %}
        <a href="#" class="btn btn-danger text-white">Booked</a></small></p>
        {% else %}
            <a href="{% url 'book-room' room.id %}">Book</a></small></p>
        {% endif %}
    </div>
</div>
</div>
{% endfor %}
{% endblock content %}
